.tab-parent {
    font-family: Arial, sans-serif;
    width: 1480px;
    margin: 0 auto;
    display: flex;
    text-align: center;
    margin-top: 8rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tabs {
    display: flex;
    justify-content: center;
    border-bottom: 0.67px solid #F0F0F0;
}

.tab {
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 1.607rem;
    line-height: 2.411rem;
    color: #191919;
}

.tab:hover {
    background-color: #f0f0f0;
}

.tab.active {
    border-bottom: 1.34px solid #FA5C98;
}

.tab-content {
    padding: 20px;
    border-top: 2px solid #ddd;
}

.tab-pane {
    display: block;
    margin: 0 auto;
    width: 67.1rem;
    height: 17.8rem;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 1.205rem;
    line-height: 1.808rem;
    text-align: left;
}

/* Responsive Styling */

@media screen and (min-width: 375px) and (max-width: 768px) { 
    .tab-parent {
        width: 100%;
        min-width: 375px;
        max-width: 768px;
        height: auto;
    }
    .tab-content {
       width: 98%;
       min-width: 98%;
       max-width: 98%;
       height: auto;
    }
    .tab-pane {
        width: 98%;
        height: 100%;
        font-size: 2rem;
        line-height: 3rem;
    }
    .tabs {
        flex-direction: column;
        gap: 3rem;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
    }
    .tab {
        font-size: 3rem;
        line-height: 4rem;
        width: 100%;
        text-align: left;
        padding-left: 3rem;
    }
}